textarea {
    min-height: 400px;
}

table.mail-table {
    width:  100%; /* Ширина таблицы */
    border-spacing: 0 px; /* Расстояние между ячейками */
    border: 1px solid black;
}

td {
    width:  33%;
    padding: 5px;
  }

.right-td {
    text-align:right;
}