textarea {
    min-height: 400px;
}

.mail-read {
    width:  100%; /* Ширина таблицы */
    border: 1px solid black;
    margin: 2px;
    display: inline-block;

}

.mail-unread {
    background-color:lightgray;
    width:  100%; /* Ширина таблицы */
    border: 1px solid black;
    margin: 2px;
    display: inline-block;
}

.right {
    float:right
}
